.contactButton {
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    background-color: var(--primary);
    transition: var(--transition-medium);
    text-decoration: none;
    width: 45%;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.contactButton span {
    font-size: var(--ts-text-m);
}

@media (max-width: 992px) {
    .contactButton {
        width: 47.5%;
    }
}