@font-face {
  font-family: "Rubik";
  src: url('./assets/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik-Mono";
  src: url('./assets/fonts/RubikMonoOne-Regular.ttf') format('truetype');
  font-style: normal;
  font-display: swap;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scrollbar-color: var(--primary) var(--bg-dark);
  font-family: "Rubik";
}

body {
  margin: 0;
  padding: 0;

  font-weight: 400;

  color: var(--text);
  background: linear-gradient(90deg, var(--bg-dark), var(--bg), var(--bg-light), var(--bg), var(--bg-dark));

}

body.ready {
  transition: background 0.5s ease, color 0.5s ease;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.05;
  background-image: linear-gradient(var(--primary) 1px, transparent 1px),
    linear-gradient(90deg, var(--secondary) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: -1;
  animation: gridMove 5s linear infinite;
}

@keyframes gridMove {
  0% {
    background-position: 0, 0;
  }

  100% {
    background-position: 0, 150px;
  }
}