.popupOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
}

.popupContainer {
    background: var(--bg);
    padding: var(--card-padding);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    text-align: center;
    width: auto;
    max-width: 50%;
}

.popupContainer p {
    font-size: var(--ts-text-l);
    margin-bottom: 1.5em;
}

.popupButtons {
    display: flex;
    justify-content: center;
    gap: 1em;
}

.popupButtons button {
    background-color: var(--primary);
    color: var(--bg);
    font-size: var(--ts-text-m);
    border-radius: var(--card-border-radius);
    border: none;
    padding: 0.5em 1em;
    transition: var(--transition-slow);
}

.popupButtons button:hover {
    background-color: var(--secondary);
}