.skillCard {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5em;
}

.skillCard svg {
    vertical-align: middle;
    fill: var(--primary);
    width: 5em;
    height: 5em;
}

.skillDesc {
    margin-left: 1em;
}

.skillDesc span {
    font-size: clamp(1.5rem, calc(4vw + 1rem), 4rem);
    border-bottom: 0.2rem solid var(--border);
}

.skillDesc h3 {
    font-size: clamp(1rem, calc(1vw + 1rem), 2rem);
    margin-top: 0.2em;
    color: var(--text-muted);
}

@media (max-width: 992px) {
    .skillCard {
        flex-direction: column;
    }

    .skillDesc {
        margin-left: 0;
        margin-top: 1em;
    }
}